{% extends 'base.twig' %}

{% block body %}

    <div class="page-block">
        <div class="box-container">
            <h1 class="page-block__title">{{ categoryName }}</h1>

            <ul class="breadcrumps">
                {% for breadCrumb in breadCrumbs %}
                    <li><a href="{{ breadCrumb.url }}">{{ breadCrumb.name }}</a>&nbsp;/&nbsp;</li>
                {% endfor %}
                <li>{{ categoryName }}</li>
            </ul>

            <div class="page-block__wrapper">
                <div class="page-block__cards-wrapper">
                    {% for category in categories %}
                        {% if(category.type == 'last') %}
                            <a href="/products/{{ category.id }}" class="page-block__card-link">
                                <div class="page-block__card">
                                    <img src="/assets/img/icons/category-icon.svg" alt="">
                                    <h4>{{ category.name }}</h4>
                                </div>
                            </a>
                        {% else %}
                            <a href="/category/{{ category.id }}" class="page-block__card-link">
                                <div class="page-block__card">
                                    <img src="/assets/img/icons/category-icon.svg" alt="">
                                    <h4>{{ category.name }}</h4>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}